@model GemVogue.Models.Users.UserInputModel

<div class="page-notification page-notification2">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <nav aria-label="breadcrumb">
                    <ol class="breadcrumb justify-content-center">
                        <li class="breadcrumb-item">Администрация</li>
                        <li class="breadcrumb-item"><a asp-action="All">Потребители</a></li>
                        <li class="breadcrumb-item">Добави</li>
                    </ol>
                </nav>
            </div>
        </div>
    </div>
</div>
<section class="contact-section">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-12 text-center">
                <h2 class="contact-title">Създай потребител</h2>
            </div>
            <div class="col-6">
                <form class="form-contact contact_form" method="post"asp-action="Create" id="contactForm">
                    <div class="row">
                        <div class="col-12">
                            <div class="form-group">
                                <input class="form-control valid" asp-for="Name" name="name" id="name" type="text" onfocus="this.placeholder = ''" onblur="this.placeholder = 'Въведи име'" placeholder="Въведи име">
                            </div>
                        </div>
                        <div class="col-12">
                            <div class="form-group">
                                <input class="form-control valid" asp-for="Email" name="email" id="email" type="email" onfocus="this.placeholder = ''" onblur="this.placeholder = 'Въведи имейл'" placeholder="Въведи имейл">
                            </div>
                        </div>
                        <div class="col-12">
                            <div class="form-group">
                                <input class="form-control valid" asp-for="Password" name="password" id="password" type="password" onfocus="this.placeholder = ''" onblur="this.placeholder = 'Въведи парола'" placeholder="Въведи парола">
                            </div>
                        </div>
                    </div>
                    <div class="form-group mt-3">
                        <button type="submit" class="button button-contactForm boxed-btn">Създай</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</section>