<div class="page-notification">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <nav aria-label="breadcrumb">
                    <ol class="breadcrumb justify-content-center">
                        <li class="breadcrumb-item"><a asp-action="Index">Начало</a></li>
                        <li class="breadcrumb-item">За нас</li>
                    </ol>
                </nav>
            </div>
        </div>
    </div>
</div>

<div class="about-area">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-lg-10">
                <div class="section-tittle mb-60 text-center pt-10">
                    <h2>За нас</h2>
                    <p class="pera">Добре дошли в нашия изискан свят на бижутата! Нашият каталог предлага уникални и стилни парчета, вдъхновени от изяществото и красотата на ежедневието. От класически до модерни дизайни, в нашия богат асортимент ще откриете блясък и елегантност, които подчертават вашата индивидуалност.</p>
                    <p class="pera">Всеки продукт в каталога ни е внимателно изработен с висококачествени материали, гарантирайки дълготрайна красота и стил. Разнообразието от бижута включва обеци, колиета, гривни и пръстени, които са перфектното допълнение към вашия ежедневен или специален тоалет.</p>
                    <p class="pera">Позволете си да бъдете вълнувани от блясъка и изискаността на нашите творения. Разгледайте нашия каталог и открийте уникалните бижута, които ще подчертаят вашата индивидуалност и добавят блясък към всеки момент. Благодарим ви, че сте с нас в този вълнуващ път към стила и елегантността.</p>
                </div>
            </div>
        </div>
    </div>
</div>