@model IEnumerable<GemVogue.Models.Jewelry.JewelDetailsOutputModel>

<div class="slider-area pl-0">
    <div class="slider-bg1 hero-overly slider-height">
        <div class="container ml-100">
            <div class="row">
                <div class="col-xl-8 col-lg-9 mt-200">
                    <div class="hero__caption">
                        <h1>Елегантност и блясък<br> във всяко бижу - <br>Позволи си <br> лъскавия избор.</h1>
                        <a asp-controller="Jewelry" asp-action="All" class="btn">Разгледай</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="about-area">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-lg-10">
                <div class="section-tittle mb-60 text-center pt-10">
                    <p class="                                                                                                        " ></p>
                    <p class="pera">Добре дошли в нашия изискан свят на бижутата! Нашият каталог предлага уникални и стилни парчета, вдъхновени от изяществото и красотата на ежедневието. От класически до модерни дизайни, в нашия богат асортимент ще откриете блясък и елегантност, които подчертават вашата индивидуалност.</p>
                </div>
                <div class="row justify-content-center">
                    <div class="room-btn">
                        <a asp-action="About" class="border-btn">Прочети повече</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="new-arrival">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-xl-12 col-lg-8 col-md-10">
                <div class="section-tittle mb-60 text-center wow fadeInUp" data-wow-duration="2s" data-wow-delay=".2s">
                    <h2>Последно добавени</h2>
                </div>
            </div>
        </div>
        <div class="row">
            @foreach (var jewel in Model)
            {
                <div class="col-xl-3 col-lg-3 col-md-6 col-sm-6">
                        <div class="single-new-arrival mb-50 text-center wow fadeInUp" data-wow-duration="1s" data-wow-delay=".3s">
                            <div class="popular-img">
                                <img src="@jewel.ImageUrl" alt="">
                            </div>
                            <a asp-controller="Jewelry" asp-action="Details" asp-route-id="@jewel.Id">
                                <div class="popular-caption">
                                    <h3>@jewel.Name</h3>
                                    <span>@jewel.Brand.Name</span>
                                </div>
                            </a>
                        </div>
                </div>
            }
        </div>

        <div class="row justify-content-center">
            <div class="room-btn">
                <a asp-controller="Jewelry" asp-action="All" class="border-btn">Виж всички</a>
            </div>
        </div>
    </div>
</div>