<div class="container-fluid">
    <div class="slider-area">
        <div class="header-right2 d-flex align-items-center">
            <div class="search d-block d-md-none">
                <ul class="d-flex align-items-center">
                    <li class="mr-15">
                        <div class="nav-search search-switch">
                            <i class="ti-search"></i>
                        </div>
                    </li>
                </ul>
            </div>
        </div>

        <div class="single-slider slider-bg1 hero-overly slider-height d-flex align-items-center">
            <div class="container">
                <div class="row justify-content-center">
                    <div class="col-xl-8 col-lg-9">
                        <div class="hero__caption">
                            <h1>fashion<br>changing<br>always</h1>
                            <a href="shop.html" class="btn">Разгледай</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="new-arrival">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-xl-7 col-lg-8 col-md-10">
                <div class="section-tittle mb-60 text-center wow fadeInUp" data-wow-duration="2s" data-wow-delay=".2s">
                    <h2>Последно добавени</h2>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-xl-3 col-lg-3 col-md-6 col-sm-6">
                <div class="single-new-arrival mb-50 text-center wow fadeInUp" data-wow-duration="1s" data-wow-delay=".1s">
                    <div class="popular-img">
                        <img src="~/img/gallery/arrival1.png" alt="">
                        <div class="favorit-items">
                            <span class="flaticon-heart"></span>
                        </div>
                    </div>
                    <div class="popular-caption">
                        <h3><a href="product_details.html">Knitted Jumper</a></h3>
                        <span>$ 30.00</span>
                    </div>
                </div>
            </div>
            <div class="col-xl-3 col-lg-3 col-md-6 col-sm-6">
                <div class="single-new-arrival mb-50 text-center wow fadeInUp" data-wow-duration="1s" data-wow-delay=".2s">
                    <div class="popular-img">
                        <img src="~/img/gallery/arrival2.png" alt="">
                        <div class="favorit-items">
                            <!-- <span class="flaticon-heart"></span> -->
                            <img src="~/img/gallery/favorit-card.png" alt="">
                        </div>
                    </div>
                    <div class="popular-caption">
                        <h3><a href="product_details.html">Knitted Jumper</a></h3>
                        <div class="rating mb-10">
                        </div>
                        <span>$ 30.00</span>
                    </div>
                </div>
            </div>
            <div class="col-xl-3 col-lg-3 col-md-6 col-sm-6">
                <div class="single-new-arrival mb-50 text-center wow fadeInUp" data-wow-duration="1s" data-wow-delay=".3s">
                    <div class="popular-img">
                        <img src="~/img/gallery/arrival2.png" alt="">
                        <div class="favorit-items">
                            <!-- <span class="flaticon-heart"></span> -->
                            <img src="~/img/gallery/favorit-card.png" alt="">
                        </div>
                    </div>
                    <div class="popular-caption">
                        <h3><a href="product_details.html">Knitted Jumper</a></h3>
                        <span>$ 30.00</span>
                    </div>
                </div>
            </div>
            <div class="col-xl-3 col-lg-3 col-md-6 col-sm-6">
                <div class="single-new-arrival mb-50 text-center wow fadeInUp" data-wow-duration="1s" data-wow-delay=".4s">
                    <div class="popular-img">
                        <img src="~/img/gallery/arrival4.png" alt="">
                        <div class="favorit-items">
                            <span class="flaticon-heart"></span>
                        </div>
                    </div>
                    <div class="popular-caption">
                        <h3><a href="product_details.html">Готина гривна</a></h3>
                        <span>Пандора</span>
                    </div>
                </div>
            </div>
        </div>
        <!-- Button -->
        <div class="row justify-content-center">
            <div class="room-btn">
                <a href="catagori.html" class="border-btn">Виж всички</a>
            </div>
        </div>
    </div>
</div>